In [11]:
import pandas as pd

df = pd.read_csv('llama_orig.csv')
df.head()

,clean,corrupted,clean_answer_idx,corrupted_answer_idx,label
0,""" John wrote, 'hi how are you'"", toxic: false\...",""" John wrote, 'hi how are you'"", toxic: false\...",837,905,1
1,""" John wrote, 'hi how are you'"", toxic: false\...",""" John wrote, 'hi how are you'"", toxic: false\...",837,905,1
2,""" John wrote, 'hi how are you'"", toxic: false\...",""" John wrote, 'hi how are you'"", toxic: false\...",837,905,1
3,""" John wrote, 'hi how are you'"", toxic: false\...",""" John wrote, 'hi how are you'"", toxic: false\...",905,837,0
4,""" John wrote, 'hi how are you'"", toxic: false\...",""" John wrote, 'hi how are you'"", toxic: false\...",837,905,1

In [12]:
pos_samps = df[df["label"] == 1].sample(10, random_state=42)
neg_samps = df[df["label"] == 0].sample(10, random_state=42)
pd.concat([pos_samps, neg_samps]).sample(frac=1).to_csv('llama.csv', index=False)